img {
    display: block;
    margin: auto;
    max-width: 45%;
    max-height: 45%;

    }

.home-outer {
      Display: flex;
    justify-content: center;
}

.home-inner {
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
    height: 100%;
background-color: rgba(222, 184, 135, 0.53);
}